<div class="container-fluid">
    <div class="row gridheight">
        <div class="col-md-1 leftmenu">
            <div class="row">
                <i class="codicon codicon-files" id="lefttab1"></i>
            </div>
            <div class="row">
                <i class="codicon codicon-file-code" id="lefttab2"></i>
            </div>
            <div class="row">
                <i class="codicon codicon-mortar-board" id="lefttab3"></i>
            </div>
            <div class="row">
                <i class="codicon codicon-mail" id="lefttab4"></i>
            </div>
            <div class="row">
                <i class="codicon codicon-globe" id="lefttab5"></i>
            </div>
            <div class="row flexauto">
                <i class="codicon codicon-github" id="lefttab6"></i>
            </div>
            <div class="row">
                <i class="codicon codicon-account" id="lefttab7"></i>
            </div>
            <div class="row">
                <i class="codicon codicon-settings-gear" id="lefttab8"></i>
            </div>
        </div>
        <div class="col-md-2 explorer">
            Explorer
        </div>
        <div class="col-md-9 content">
            <div>
                <code id="snippet">public static function get_available_in_context_parameters() {
    return new external_function_parameters (
        array(
            'contexts' => new external_multiple_structure(
                new external_single_structure(
                    array(
                        'contextlevel' => new external_value(PARAM_ALPHA, 'The context level where the filters are:
                            (coursecat, course, module)'),
                        'instanceid' => new external_value(PARAM_INT, 'The instance id of item associated with the context.')
                    )
                ), 'The list of contexts to check.'
            ),
        )
    );
}

/**
    * Returns the filters available in the given contexts.
    *
    * @param array $contexts the list of contexts to check
    * @return array with the filters information and warnings
    * @since Moodle 3.4
    */
public static function get_available_in_context($contexts) {
    $params = self::validate_parameters(self::get_available_in_context_parameters(), array('contexts' => $contexts));
    $filters = $warnings = array();

    foreach ($params['contexts'] as $contextinfo) {
        try {
            $context = self::get_context_from_params($contextinfo);
            self::validate_context($context);
            $contextinfo['contextid'] = $context->id;
        } catch (Exception $e) {
            $warnings[] = array(
                'item' => 'context',
                'itemid' => $contextinfo['instanceid'],
                'warningcode' => $e->getCode(),
                'message' => $e->getMessage(),
            );
            continue;
        }
        $contextfilters = filter_get_available_in_context($context);

        foreach ($contextfilters as $filter) {
            $filters[] = array_merge($contextinfo, (array) $filter);
        }
    }
            </code>
            </div>
        </div>
    </div>
</div>
<script>
    var index_icon = document.getElementById("lefttab1");
    console.log(index_icon);
    if (index_icon !== null) {
        index_icon.classList.add("active");
    }

    var github = document.getElementById("lefttab6");
    if (github) {
        github.addEventListener('click', function() {
            window.open("https://github.com/Cperek", '_blank').focus();
        });
    }
    makeSnippet(document.getElementById("snippet"), 'php');
</script>